.title {
    font-size: 52px;
    color: #ffce8d;
    text-shadow:
    0.05em 0.05em 0  #eb5783;
}

.paragraph {
    font-size: calc(52px/2);
    color: #121213;
}
* {
    font-family: 'Rubik', sans-serif;
}