.gallery-body {
    border-top: 3px solid #f3f3f3;
    height: fit-content;
    padding-bottom: 2rem;
    background-color: #fbfbfb;
}

.title.gallery {
    text-align: center;
    user-select: none;
}

.gallery-options{ 
    display: flex;
    flex-direction: row;
    justify-items: center;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 4rem;
}
.gallery-options--button{
    
    height: 71px;
    width: 120px;
    padding: 10px 8px 10px 8px;
    border: none;
    border-left: 2px solid #EBEBF0;
    background: #FFFFFF;
    
}

.gallery-options--button:hover{
    background: #cfcdcd;
    cursor: pointer;
    user-select: none;
    
}

.gallery-options--button.active {
    border: none;
    background-color: #EBEBF0;
}

.gallery-options--button:first-child {
    outline-width: 12px;
    border-radius: 10px 0 0 10px;
}
.gallery-options--button:last-child {
    
    border-radius: 0 10px 10px 0;
    outline-width: 12px;
}

.columns {
    display: flex;
    flex-direction: column;
    user-select: none;
    
}

.column1 {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.column2 {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.column3 {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


@media screen and (max-width: 640px){ 
    .columns {
        display: flex;
        flex-direction: column;
    }
    .gallery-options--button { 
        width: fit-content;
     }
     .gallery-options{ 
        display: flex;
        flex-direction: row;
    }
     .column1, .column2, .column3{
        width: 40%;
        display: flex;
        flex-direction: column;
     }
}

