@font-face{
    font-family: LogoFont;
    src: url('../fonts/freebooter_script/FREEBSC_.ttf');
  }

* {
    font-family: 'https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';
}


.header { 
    display: flex;
    flex-direction: row;
    padding: 0.75rem;
    background-color: #EC7094;
    margin-bottom: 3rem;
 
}
.header-body {
    display:flex;
    width: 50%;
    text-align: left;
    padding-left: 2rem;
}
.header-nav{
    width: 50%;
    padding-right: 2rem;
}
.header-nav--list {
    display: flex;
    flex-direction: row;
    justify-content: right;
    text-decoration: none;
    list-style: none; 
    font-size: 20px;
    margin-top: 40px;
    align-items: center;
}
.header-nav a{
    color: white;
    list-style:none;
    text-decoration: none;
    padding: 1em 3em;
    display:inline-block;
    
}
.header-nav a:hover {
    border-bottom: 1px solid white;
    transition: .2s linear;
    border-top-left-radius:     4px 2px;
    border-top-right-radius:    3px 4px;
    background-color: #a83456 ;
    -moz-transition: all 0.5s ease-in;
    /* WebKit */
    -webkit-transition: all 0.5s ease-in;
    /* Opera */
    -o-transition: all 0.5s ease-in;
    /* Standard */
    transition: all 0.5s ease-in;
}


.header-logo {   
    font-size: 45px;
    font-family: LogoFont;
    font-weight: none;
    color: white;
    user-select: none;
}

@media (max-width: 960px){
    .header{
        margin-bottom: 25rem;
        height: 5rem;
        margin-bottom: -2.5rem;
    }
    .header-logo {
        margin-left: auto;
        margin-right: 0;
    }
    .header-body{
        display: flex;
        width: 100%;
        align-items: center;
    }
    .header-nav--list{
        display: none;
    }
}