.home-body {
    display: flex;
    padding: 3rem;
}
.home-gallary{
    width: 25%;
}
.home-title {
    text-shadow:
    0.05em 0.05em 0  #eb5783;
    font-size: 52px;
    color: #ffce8d;
}
.home-p {
    font-size: 32px;
    width: 35%;
}

.polaroid{
    width: 35%;
    display: flex;
    flex-direction: column;
}

.box {
    background-color: #C4C4C4;
    width: fit-content;
    border-radius: 12px;
    height: 10%;
    padding: 2.5rem;
    margin-bottom: 2rem;
}

#picture1 {
    transform: rotate(5deg);
}
#picture2 {
    transform: rotate(-5deg);
}
#picture3 {
    transform: rotate(4deg);
}
#picture4 {
    transform: rotate(-4deg);
}


#mark:hover {
    background-image: linear-gradient(0deg, #a18cd1 0%, #fbc2eb 100%);
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
}

@media (max-width: 650px){  
    .polaroid {
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
    .home-body {
        display: flex;
        flex-direction: column;
        padding: 3rem;
    }
    .home-p {
        font-size: 32px;
        width: 100%;
    }

}